#heading-of-about {
    font-size: 30px;
    text-align: center;
    color: rgb(54, 54, 100);
    /* border: 2px solid orange; */
}

#about-us {
    display: flex;  /* Enables side-by-side layout */
    align-items: center;  /* Vertically aligns content */
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 70vw; /* Increased width for better layout */
    padding: 20px;
    text-align: justify;
    /* border: 2px solid blue; */
    

    /* margin: auto; */
}

.about-text {
    width: 60%; /* Adjust width for proper text flow */
    padding-right: 20px;
    /* border: 2px solid red; */
}

.about-image {
    width: 35%;
    /* border: 2px solid hotpink; */
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid green; */
}

.distance {
    margin-top: 20px;
    /* border: 2px solid khaki; */
}

.about-me {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(225, 233, 236); */
    padding: 20px;
    /* border: 2px solid sienna; */
}

@media screen and (max-width: 768px) {
    #about-us {
        display: flex;  /* Enables side-by-side layout */
        flex-direction: column;
        align-items: center;  /* Vertically aligns content */
        justify-content: space-between;
        /* border: 2px solid red; */
        width: 70vw; /* Increased width for better layout */
        padding: 20px;
        text-align: justify;
        /* border: 2px solid blue; */
        
    
        /* margin: auto; */
    }
    .about-text {
        width: 95%; /* Adjust width for proper text flow */
        padding-right: 20px;
        /* border: 2px solid red; */
    
    }
    .about-image {
        width: 90%;
        /* border: 2px solid hotpink; */
    }

}





