.whitelabel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #333;
    /* border: 2px solid black; */
}

.whitelabel-text {
    flex: 1;
    text-align: left;
    padding-right: 40px;
    /* border: 2px solid orange; */
}

.whitelabel-text h1, 
.whitelabel-text h2, 
.whitelabel-text h3 {
    color: #0056b3;
    /* border: 2px solid green; */
}

.whitelabel-text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.whitelabel-text ul {
    padding-left: 20px;
}

.whitelabel-text ul li {
    margin-bottom: 10px;
    font-weight: 500;
}

.whitelabel-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.whitelabel-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* border: 2px solid red; */
}

@media screen and (max-width: 2075px) {


    .whitelabel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 91%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        font-family: Arial, sans-serif;
        color: #333;
        /* border: 2px solid red; */

    }

}

@media screen and (max-width: 1152px) {
    .whitelabel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 91%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        font-family: Arial, sans-serif;
        color: #333;
        /* border: 2px solid peru; */

    }
  
  }
  
  @media screen and (max-width: 1067px) {
    .whitelabel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 91%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        font-family: Arial, sans-serif;
        color: #333;
        /* border: 2px solid hotpink; */

    }
  }
  
  
  
  
  
  
  @media screen and (max-width: 566px) {
   
    .whitelabel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 78%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        font-family: Arial, sans-serif;
        color: #333;
        /* border: 2px solid green; */

    }
    .whitelabel-text {
        flex: 1;
        text-align: left;
        padding-right: 40px;
        /* border: 2px solid blueviolet; */
        width: 95vw;
    }
  
  
  
  
  }
  












/* Responsive Design */
@media (max-width: 1024px) {
    .whitelabel-container {
        flex-direction: column;
        text-align: center;
    }

    .whitelabel-text {
        padding-right: 0;
        text-align: center;
    }

    .whitelabel-image {
        margin-top: 20px;
    }
}
